* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }
  .container {
    display: flex;
  }
  
  .nav {
    /*position: fixed;*/
    width: 25vw;
    height: 150vw; 
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size:x-large;
    background-color: rgb(75, 185, 167);
  }
  
  .content {
    width: 65vw;
    padding: 1rem 5rem;
  }
  
  .start {
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    text-align: center;
    font-size: 1.9rem;
    
    color: white;
  }
  
  .input-place p {
    color: black;
    font-size: 1.5rem;
  }
  .form {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 2.5rem;
  }
  .form button {
    width: 6rem;
    background-color: rgba(245, 174, 21, 0.89);
    margin-left: 1rem;
    color: black;
    font-size: 1.2rem;
    border: none;
  }
  .buttons {
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
  }
  #forecast {
    margin-top: 2rem;
    height: 2.2rem;
  }
  #n_days {
    height: 2rem;
    margin-top: 2rem;
  }
  .buttons button {
    width: 7.5rem;
    height: 2.5rem;
    border: none;
    background-color: rgba(245, 174, 21, 0.89);
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }
  .header p {
    font-size: 3rem;
    margin-left: 3rem;
    line-height: 80%;
  }
  
  #logo {
    max-width: 17rem;
    height: auto;
  }